In [1]:
import pyxatu

xatu = pyxatu.PyXatu()

/Users/francis/.asdf/installs/python/3.12.4/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
2024-10-04 09:34:13,929 - INFO - Clickhouse configs set
2024-10-04 09:34:13,929 - INFO - Clickhouse URL: https://clickhouse.analytics.production.platform.ethpandaops.io, User: base

Config Path:  /Users/francis/.pyxatu_config.json
Table canonical_beacon_elaborated_attestation not found.
Table beacon_api_eth_v1_events_attestation not found.
Table beacon_api_eth_v2_beacon_block not found.
Table beacon_api_eth_v1_events_blob_sidecar not found.
Table canonical_beacon_blob_sidecar not found.
Table beacon_api_eth_v1_events_block not found.
Table canonical_beacon_block not found.
Table canonical_execution_transaction not found.
Table canonical_beacon_block_execution_transaction not found.
Table canonical_beacon_block not found.
Table canonical_beacon_proposer_duty not found.
Table beacon_api_eth_v1_events_chain_reorg not found.
Table canonical_beacon_block not found.
Table canonical_beacon_block_execution_transaction not found.
Table canonical_beacon_block_withdrawal not found.

In [2]:
df = xatu.get_slots(
   slot = [9000000, 9000010],
   columns="slot, execution_payload_block_number, execution_payload_gas_used",
   orderby="slot"
)

print(df)

2024-10-04 09:34:19,789 - INFO - Executing query: SELECT DISTINCT slot, execution_payload_block_number, execution_payload_gas_used FROM canonical_beacon_block FINAL WHERE slot_start_date_time >= '2024-05-04 12:00:23' AND slot_start_date_time < '2024-05-04 12:02:23' AND slot >= 9000000 AND slot < 9000010 AND meta_network_name = 'mainnet' ORDER BY slot

Table canonical_beacon_block not found.

2024-10-04 09:34:20,763 - INFO - Query executed in 0.97 seconds

      slot  execution_payload_block_number  execution_payload_gas_used
0  9000000                        19796604                    18026681
1  9000001                        19796605                    13920219
2  9000002                        19796606                    12498513
3  9000003                        19796607                     2914192
4  9000004                        19796608                    29996743
5  9000005                        19796609                    19938160
6  9000006                        19796610                    13557982
7  9000007                        19796611                    11651230
8  9000008                        19796612                    14823656
9  9000009                        19796613                    19436774

In [19]:
slots_per_day = 24 * 60 * 60 // 12
days = 28
# Oct-04-2024 12:20:23 AM UTC
end_slot = 10098100       
# Oct-03-2024 12:20:23 AM UTC, for some reason, the last several hundred roles are not populated with data
# so deduct one day worth of slot from the end_slot
real_end_slot = end_slot - slots_per_day
# Sep-19-2024 12:20:23 AM UTC, 15 days from end slot
start_slot = end_slot - (days + 1) * slots_per_day

df = xatu.get_block_size(
    slot = [start_slot, end_slot],
    orderby = "slot"
)

df = df[:days * slots_per_day]
df

2024-10-04 09:49:37,221 - INFO - Executing query: SELECT DISTINCT slot,block_total_bytes_compressed,block_total_bytes,execution_payload_blob_gas_used,execution_payload_transactions_total_bytes,execution_payload_transactions_total_bytes_compressed FROM canonical_beacon_block FINAL WHERE slot_start_date_time >= '2024-09-05 00:20:23' AND slot_start_date_time < '2024-10-04 00:20:23' AND slot >= 9889300 AND slot < 10098100 AND meta_network_name = 'mainnet'

Table canonical_beacon_block not found.

2024-10-04 09:49:39,145 - INFO - Query executed in 1.92 seconds

,slot,block_total_bytes_compressed,block_total_bytes,execution_payload_transactions_total_bytes,execution_payload_transactions_total_bytes_compressed,blobs
0,10093914,57965,141025,44532,21560,0
1,10093918,100903,238406,71297,37400,0
2,10093923,90057,220881,62289,31393,6
3,10093927,62812,166341,55849,24038,6
4,10093933,101166,248998,76477,37827,0
...,...,...,...,...,...,...
201595,9980806,101908,235443,69943,38490,0
201596,9980807,85891,208272,73782,36166,2
201597,9980808,68474,165409,55654,27286,0
201598,9980813,80676,182178,62935,34608,1
201599,9980815,87087,219995,62260,29935,0

In [17]:
import pandas as pd
import numpy as np

# Calculate percentiles
percentiles = df['block_total_bytes'].quantile([0.90, 0.95, 0.99, 0.999, 0.9999])

# Calculate average
average = df['block_total_bytes'].mean()

# Create a result DataFrame
result = pd.DataFrame({
    'Metric': ['p90', 'p95', 'p99', 'p999', 'Average'],
    'Value (bytes)': [
        average,
        percentiles[0.90],
        percentiles[0.95],
        percentiles[0.99],
        percentiles[0.999]
    ]
})

# Convert bytes to KB
result['Value (KB)'] = result['Value (bytes)'] / 1024

# Format the 'Value (bytes)' column to show whole numbers
result['Value (bytes)'] = result['Value (bytes)'].round(0).astype(int)

# Format the 'Value (KB)' column to show 2 decimal places
result['Value (KB)'] = result['Value (KB)'].round(2)

# Display the result
print(result.to_string(index=False))

 Metric  Value (bytes)  Value (KB)
    p90         221207      216.02
    p95         292492      285.64
    p99         331974      324.19
   p999         457463      446.74
Average         625854      611.19